<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Som Akudu | About</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css" integrity="sha256-46qynGAkLSFpVbEBog43gvNhfrOj+BmwXdxFgVK/Kvc=" crossorigin="anonymous" />
    <link rel="preconnect" href="https://rsms.me/">
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
  </head>
  <body>
  <header></header>
    <!-- Introduction -->
    <section class="about-container">
      <div class="mural-container">
        <div class="top-back">
          <div class="container-top">
            <div class="about-slogan">
              <div class="slogan">
                <h1 class=slogan-title><strong class="about-name">Hey, I'm Som.</strong><br></h1>
                <h4 class="mini">A <u>Full-Stack Developer</u> based in London, UK.</h4>
                <p class="btn-about"><a href="mailto:somakudu@gmail.com?subject=Hello!" target="_blank"><strong>Get in touch →</strong></a></p>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="column">
            <div class="about">
              <div class="about-profile">
              <%= image_tag asset_path('present.png'), height: 300, width: 220 %>
              <h3>About</h3>
              <p class="som-about">I'm a pharmacist turned full-stack developer. I was born and raised in NW London.</p>
              <p class="som-about">When I'm not coding, I'm either watching anime or dabbling in illustration and oil painting. If you like my site, don't hesitate to <a href="mailto:somakudu@gmail.com?subject=Hello!" target="_blank"><strong>reach out!</strong></a></p>
              </div>
              <div class="icon-img">
                <i class="fa-solid fa-palette"></i>
              </div>
              <div class="about-profile">
              <%= image_tag asset_path('soho.png'), height: 300, width: 230 %>
              <h3>Communities</h3>
              <p class="som-about">Ever since completing my coding bootcamp, I have been an active member of <a href="https://www.lewagon.com/london" target="_blank"><strong>Le Wagon London</strong></a> where I teach other people part-time how to code. It is an incredible and diverse community that has been a rewarding part of my coding journey.</p>
              <p class="som-about" >I am also currently taking part in the <a href="https://www.blackgirlsintech.org/mentoring-programme" target="_blank"><strong>Black Girls in Tech</strong></a> Mentorship Programme where I meet other black women every week to discuss the latest developments in the industry. <a href="https://codebar.io/" target="_blank"><strong>codebar</strong></a> is another community whose programming workshops I attend.</p>
              </div>
            </div>
          </div>

          <div class="column">
            <div class="about-2">
              <div class="about-profile">
              <div class="icon-img">
                <i class="fa-solid fa-laptop"></i>
              </div>
              <%= image_tag asset_path('som-ilo.png'), height: 300, width: 230 %>
              <%= image_tag asset_path('exhibit.png'), height: 300, width: 230 %>
              </div>
              <div class="icon-img">
                <i class="fa-solid fa-headphones"></i>
              </div>
              <%= image_tag asset_path('fitz.png'), height: 300, width: 230 %>
            </div>
          </div>

          <div class="column">
            <div class="about-3">
              <div class="about-profile">
              <h3>What I Like</h3>
              <p class="som-about">As well as coding in my spare time, I like...</p>
              <p class="som-about">Freshly baked melted chocolate brownies with banana split ice-cream from <a href="https://www.instagram.com/thepuddingstop/" target="_blank"><strong>The Pudding Stop</strong></a>.</p>
              <p class="som-about">Obssessed with all things Anime (<a href="https://www.crunchyroll.com/series/GRMG8ZQZR/one-piece" target="_blank"><strong>One Piece</strong></a> is my fave!).</p>
              <p class="som-about">Gallery visits and art exhibitions, especially at the <a href="https://www.tate.org.uk/visit/tate-modern" target="_blank"><strong>Tate Modern</strong></a>.</p>
              </div>
              <div class="icon-img">
                <i class="fa-solid fa-earth-africa"></i>
              </div>
              <%= image_tag asset_path('gallery.png'), height: 300, width: 230 %>
              <div class="about-profile">
              </div>
              <%= image_tag asset_path('plant-ilo.png'), height: 300, width: 230 %>
              <div class="about-profile">
              </div>
              <div class="icon-img">
                <i class="fa-solid fa-bolt"></i>
              </div>
              <%= image_tag asset_path('sunflower.png'), height: 300, width: 230 %>
            </div>
          </div>

          <div class="column">
            <div class="about-4">
              <%= image_tag asset_path('still.png'), height: 300, width: 230 %>
              <div class="about-profile">
              <h3>What I'm Learning</h3>
              <p class="som-about"><a href="https://www.youtube.com/playlist?list=PLTzMGnJjrsSy6H8uiX3XKWtUhhj2Vilw1" target="_blank"><strong>Gordon Ramsey's</strong></a> 10 minute meals (which usually takes me 30 minutes).</p>
              <p class="som-about">Recently got into <a><strong>Brazilian Forro</strong></a>, which is like salsa.</p>
              <p class="som-about">Illustrations and animations on <a><strong>Procreate</strong></a> and <a><strong>Blender</strong></a> (All illustrations, drawings and paintings are by me!).</p>
              </div>
              <div class="icon-img">
                <i class="fa-solid fa-dumbbell"></i>
              </div>
              <%= image_tag asset_path('sketch.png'), height: 300, width: 230 %>
              <div class="about-profile">
              </div>
              <%= image_tag asset_path('gaia.png'), height: 300, width: 230 %>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
