<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Som Akudu</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css" integrity="sha256-46qynGAkLSFpVbEBog43gvNhfrOj+BmwXdxFgVK/Kvc=" crossorigin="anonymous" />
    <link rel="preconnect" href="https://rsms.me/">
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
  </head>
  <body>
    <header>
    </header>
    <!-- Introduction -->
    <section class="container-portfolio">
      <div class="top-back">
        <div class="section-title">
          <div class="profile-img-section">
            <%= image_tag asset_path('som.png'), height: 300, width: 230 %>
          </div>
          <div class="slogan">
            <h1>
              <strong class="name">Hey, I'm Som.</strong><br>
            </h1>
            <h4 class="mini">A <u>Fullstack Developer</u> based outside of London, UK.</h4>
            <h6 class="btn-simple"><a href="mailto:somakudu@gmail.com?subject=Hello!" target="_blank"><strong>Get in touch →</strong></a></h6>
          </div>
        </div>
      </div>
    </section>
    <!-- Portfolio -->
    <section class=portfolio-back>
      <div class="portfolio-section">
        <div>
          <a href="https://productivity-planner-sigma.vercel.app/" target="_blank">
            <h2 class="project-name">Productivity Planner</em></h2>
            <p class="project-tags">Product, Web, Branding, Lifestyle</p>
            <div class="project-card">
              <%= image_tag asset_path('productive.png'), height: 235, width: 365 %>
            </div>
          </a>
        </div>
        <div>
          <a href="https://anime-shoutouts.vercel.app/" target="_blank">
            <h2 class="project-name">Anime Shoutouts</em></h2>
            <p class="project-tags">Product, Web, Social Media</p>
            <div class="project-card">
              <%= image_tag asset_path('shoutouts.png'), height: 235, width: 365 %>
            </div>
          </a>
        </div>
        <div>
          <a href="https://somunachima.github.io/threejs-donut/" target="_blank">
            <h2 class="project-name">Go Donuts</h2>
            <p class="project-tags">Animation, 3D, Web, Branding</p>
            <div class="project-card">
              <%= image_tag asset_path('go_donuts.png'), height: 235, width: 365 %>
            </div>
          </a>
        </div>
        <div>
          <a href="https://somunachima.github.io/3D-tesla-animation/" target="_blank">
            <h2 class="project-name">Tesla Advert</h2>
            <p class="project-tags">Animation, 3D, Desktop, Marketing, Lifestyle</p>
            <div class="project-card">
              <%= image_tag asset_path('tesla.png'), height: 235, width: 365 %>
            </div>
          </a>
        </div>
        <div>
          <a href="https://3d-sphere-puce.vercel.app/" target="_blank">
            <h2 class="project-name">Give it a spin</h2>
            <p class="project-tags">3D, Animation, Interactive</p>
            <div class="project-card">
              <%= image_tag asset_path('sphere.png'), height: 235, width: 365 %>
            </div>
          </a>
        </div>
        <div>
          <a href="https://www.scanher.co.uk/" target="_blank">
            <h2 class="project-name">scan<em>Her</em></h2>
            <p class="project-tags">Product, Web, API, Desktop, Branding, Healthtech</p>
            <div class="project-card">
              <%= image_tag asset_path('scanher.png'), height: 235, width: 365 %>
            </div>
          </a>
        </div>
        <div>
          <a href="https://github.com/AranSeehra/gyota" target="_blank">
            <h2 class="project-name">Get Your Own Teaching Assistant</h2>
            <p class="project-tags">Web, API, Edtech</p>
            <div class="project-card">
              <%= image_tag asset_path('gyota.png'), height: 235, width: 365 %>
            </div>
          </a>
        </div>
        <div>
          <a href="https://github.com/somunachima/filter-animation" target="_blank">
            <h2 class="project-name">Filter Animation</h2>
            <p class="project-tags">Animation, API</p>
            <div class="project-card">
              <%= image_tag asset_path('filter.png'), height: 235, width: 365 %>
            </div>
          </a>
        </div>
        <%# <div>
          <a href="https://github.com/somunachima/rails-yelp-mvp" target="_blank">
            <h2 class="project-name">Yelp Clone</h2>
            <p class="project-tags">Lifestyle</p>
            <div class="project-card">
              <%= image_tag asset_path('yelp.png'), height: 235, width: 365 %>
            <%# </div> %>
          <%# </a>
        </div>
        <div>
          <a href="https://github.com/somunachima/rails-watch-list" target="_blank">
            <h2 class="project-name">Movie Watchlist</h2>
            <p class="project-tags">Web, Entertainment</p>
            <div class="project-card-movie">
              <i class="fa-solid fa-clapperboard"></i>
            </div>
          </a>
        </div>
        <div> %>
          <%# <a href="https://github.com/somunachima/rails-task-manager" target="_blank">
            <h2 class="project-name">Task Manager</h2>
            <p class="project-tags">Lifestyle</p>
            <div class="project-card-task">
              <i class="fa-solid fa-clipboard-list"></i>
            </div>
          </a>
        </div> %>
      </div>
    </section>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.4/gsap.min.js"
      integrity="sha512-f8mwTB+Bs8a5c46DEm7HQLcJuHMBaH/UFlcgyetMqqkvTcYg4g5VXsYR71b3qC82lZytjNYvBj2pf0VekA9/FQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"></script>
    <script src="../../javascript/controllers/script.js"></script>
  </body>
</html>
