<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Som Akudu | Resume</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css" integrity="sha256-46qynGAkLSFpVbEBog43gvNhfrOj+BmwXdxFgVK/Kvc=" crossorigin="anonymous" />
    <link rel="preconnect" href="https://rsms.me/">
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
  </head>
  <body>
    <!-- Introduction -->
    <section class="container-resume">
      <div class="top-back-resume">
        <div class="resume-slogan">
          <h1 class="resume-name"><strong>Som Akudu</strong></h1>
          <h4 class="mini">Creating beautiful products and experiences <u>for people</u>.</h4>
          <p class="btn-email"><a href="mailto:somakudu@gmail.com?subject=Hello!" target="_blank"><strong>Get in touch →</strong></a></p>
        </div>
      </div>
    </section>
  <section class="resume-back">
    <section class="resume-full">
    <!-- Bio -->
      <div class="resume-profile">
        <%= image_tag asset_path('som_cv.png'), height: 300, width: 230 %>
        <h3>Bio</h3>
        <p class="som-info">A software engineer apprentice at Google working in a creative and mission-driven team.</p>
        <p class="btn-resume"><a href="https://drive.google.com/file/d/1xk6B_RZnuiCs73b60RBXdyuB2wD14QH9/view?usp=sharing" target="_blank"><strong>Download my resume →</strong></a></p>
      </div>
      <div class="resume-details">
        <div class="subset">
    <!-- Education & Skills -->
          <div class="subset-top">
            <div class="education">
              <h3>Education</h3>
              <div class="resume-text">
                <div class="edu-sub">
                  <div class="wagon">
                    <div class="wagon-img">
                      <%= image_tag asset_path('wagon.png'), height: 40, width: 40 %>
                    </div>
                    <div class="wagon-text">
                      <div class="wagon-title">
                        <p class="date"><strong>Le Wagon London</strong></p>
                        <p class="date"><strong>Oct - Dec 2022</strong></p>
                      </div>
                      <p>Full-Stack Web Development Course | Built two full-stack web applications as a team of four. Voted out of 26 pitches to lead a team to build the web app idea I pitched called <a href="https://www.scanher.co.uk/" class="edu-proj" target="_blank"><strong>scan<em>Her</em></strong></a>.</p>
                    </div>
                  </div>
                </div>

                <div class="edu-sub">
                  <div class="manc">
                    <div class="manc-img">
                      <%= image_tag asset_path('uom.png'), height: 40, width: 40 %>
                    </div>
                    <div class="manc-text">
                      <div class="manc-title">
                        <p class="date"><strong>University of Manchester</strong></p>
                        <p class="date"><strong>2013 - 2017</strong></p>
                      </div>
                      <p>Master of Pharmacy | 2.1 <br>Awarded Gold Manchester Leadership Award. Acheived 85% for my final year project.</p>
                    </div>
                  </div>
                </div>

                <div class="edu-sub">
                  <div class="smb">
                    <div class="smb-img">
                      <%= image_tag asset_path('smb.png'), height: 40, width: 40 %>
                    </div>
                    <div class="smb-text">
                      <div class="smb-title">
                        <p class="date"><strong>St Margaret’s School</strong></p>
                        <p class="date"><strong>2006 - 2013</strong></p>
                      </div>
                      <p><strong>A Levels:</strong> Biology (A*), Maths (A), Chemistry (B)<br><strong>GCSEs:</strong> 3A*’s and 6A’s with Maths (A*), Science (A*), German (A*), French (A), English (A)</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="skills">
              <h3>Skills</h3>
              <div class="resume-text">
                <div class="skills-sub">
                  <p class="skills-title"><strong>Technical</strong></p>
                  <ul>
                    <li>Ruby on Rails</li>
                    <li>JavaScript</li>
                    <li>TypeScript</li>
                    <li>React.js</li>
                    <li>Next.js</li>
                    <li>Python</li>
                    <li>HTML</li>
                    <li>CSS</li>
                    <li>PostgreSQL</li>
                    <li>Git</li>
                    <li>OOP</li>
                    <li>REST API</li>
                    <li>MVC</li>
                  </ul>
                </div>
                <div class="skills-sub">
                  <p class="skills-title-tools"><strong>Tools</strong></p>
                  <ul>
                    <li>Figma</li>
                    <li>Procreate</li>
                    <li>Blender</li>
                    <li>Google Cloud</li>
                    <li>Heroku</li>
                    <li>Cloudinary</li>
                    <li>Trello</li>
                    <li>Microsoft Office</li>
                  </ul>
                </div>
                <div class="skills-sub">
                  <p class="skills-title-strat"><strong>Strategic</strong></p>
                  <ul>
                    <li>Product Launch</li>
                    <li>Branding</li>
                    <li>Corporate Strategy</li>
                    <li>Competitive Intelligence</li>
                    <li>Primary Research Interviews</li>
                    <li>Client Workshops</li>
                    <li>Business Development</li>
                    <li>Pitching</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
    <!-- Projects -->
          <div class="subset-middle">
            <div class="projects">
              <h3>Notable Projects</h3>
              <div class="resume-text">
                <div class="project-sub">
                  <div class="proj">
                    <div class="proj-img">
                      <%= image_tag asset_path('prod-logo.png'), height: 40, width: 40 %>
                    </div>
                    <div class="proj-text">
                      <div class="proj-title">
                        <a href="https://productivity-planner-sigma.vercel.app/" class="proj-link" target="_blank">
                          <p class="date"><strong>Productivity Planner</strong></p>
                        </a>
                      </div>
                        <p class="proj-info">A CRUD React.js app made using local storage for people to manage their tasks and organise their week. Background image was made by me on Procreate.</p>
                      <div class="proj-skills">
                        <ul>
                          <li>React.js</li>
                          <li>JavaScript</li>
                          <li>HTML</li>
                          <li>CSS</li>
                          <li>Procreate</li>
                          <li>Vercel</li>
                          <li>Local Storage</li>
                          <li>GitHub</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="proj">
                    <div class="proj-img">
                      <%= image_tag asset_path('naruto.png'), height: 40, width: 40 %>
                    </div>
                    <div class="proj-text">
                      <div class="proj-title">
                        <a href="https://anime-shoutouts.vercel.app/" class="proj-link" target="_blank">
                          <p class="date"><strong>Anime Shoutouts</strong></p>
                        </a>
                      </div>
                        <p class="proj-info">A Next.js app for anime fans like me to recommend, discover and discuss anime shows. Fans can log onto the site using Google Cloud Storage authentication.</p>
                      <div class="proj-skills">
                        <ul>
                          <li>Next.js</li>
                          <li>React.js</li>
                          <li>JavaScript</li>
                          <li>TypeScript</li>
                          <li>HTML</li>
                          <li>CSS</li>
                          <li>Tailwind</li>
                          <li>PostgreSQL</li>
                          <li>Vercel</li>
                          <li>Google Cloud Storage</li>
                          <li>Prisma</li>
                          <li>Railway</li>
                          <li>GitHub</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="proj">
                    <div class="proj-img">
                      <%= image_tag asset_path('scanher-logo.png'), height: 40, width: 40 %>
                    </div>
                    <div class="proj-text">
                      <div class="proj-title">
                        <a href="https://www.scanher.co.uk/" class="proj-link" target="_blank">
                          <p class="date"><strong>scan<em>Her</em></strong></p>
                        </a>
                      </div>
                        <p class="proj-info">A platform where women can book an appointment & scan with a clinical specialist without a GP referral and waiting lists. Women can also message clinicians directly in a chatroom & view scan results on their dashboard.</p>
                      <div class="proj-skills">
                        <ul>
                          <li>Ruby</li>
                          <li>Ruby on Rails</li>
                          <li>JavaScript</li>
                          <li>HTML</li>
                          <li>CSS</li>
                          <li>PostgreSQL</li>
                          <li>Mapbox API</li>
                          <li>Bootstrap</li>
                          <li>Figma</li>
                          <li>Heroku</li>
                          <li>Trello</li>
                          <li>Cloudinary</li>
                          <li>GitHub</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="proj">
                    <div class="proj-img">
                      <%= image_tag asset_path('gyota-logo.png'), height: 40, width: 40 %>
                    </div>
                    <div class="proj-text">
                      <div class="proj-title">
                        <a href="https://github.com/AranSeehra/gyota" class="proj-link" target="_blank">
                          <p class="date"><strong>Get Your Own Teaching Assistant</strong></p>
                        </a>
                      </div>
                        <p class="proj-info">A website where people can learn how to code by searching for a teacher in their local area to book a lesson with. Customers can also rate and write reviews about their lessons with teachers.</p>
                      <div class="proj-skills">
                        <ul>
                          <li>Ruby</li>
                          <li>Ruby on Rails</li>
                          <li>HTML</li>
                          <li>CSS</li>
                          <li>Mapbox API</li>
                          <li>Bootstrap</li>
                          <li>Figma</li>
                          <li>Heroku</li>
                          <li>Cloudinary</li>
                          <li>GitHub</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="proj">
                    <div class="proj-img">
                      <%= image_tag asset_path('donut-logo.png'), height: 40, width: 40 %>
                    </div>
                    <div class="proj-text">
                      <div class="proj-title">
                        <a href="https://somunachima.github.io/threejs-donut/" class="proj-link" target="_blank">
                          <p class="date"><strong>Go Donuts</strong></p>
                        </a>
                      </div>
                        <p class="proj-info">A Three.js app about donuts including fun animation effects and a 3D donut model (made by ¡Jacques).</p>
                      <div class="proj-skills">
                        <ul>
                          <li>Three.js</li>
                          <li>WebGL</li>
                          <li>Canvas</li>
                          <li>HTML</li>
                          <li>CSS</li>
                          <li>GLTF Loader</li>
                          <li>GSAP</li>
                          <li>GitHub</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="proj">
                    <div class="proj-img">
                      <%= image_tag asset_path('tyre.png'), height: 40, width: 40 %>
                    </div>
                    <div class="proj-text">
                      <div class="proj-title">
                        <a href="https://somunachima.github.io/3D-tesla-animation/" class="proj-link" target="_blank">
                          <p class="date"><strong>Tesla Advert</strong></p>
                        </a>
                      </div>
                        <p class="proj-info">A sleek advert including an animation created using Blender by moving different parts of a 3D Tesla model (made by Davide Tirindelli).</p>
                      <div class="proj-skills">
                        <ul>
                          <li>JavaScript</li>
                          <li>HTML</li>
                          <li>CSS</li>
                          <li>GSAP</li>
                          <li>Blender</li>
                          <li>GitHub</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
    <!-- Experience, Publication & Hobbies -->
          <div class="subset-bottom">
            <div class="bottom-left">
              <div class="jobs">
                <h3>Experience</h3>
                <div class="resume-text">
                  <div class="exp-sub">
                    <div class="exp">
                      <div class="exp-img">
                        <%= image_tag asset_path('google.png'), height: 40, width: 40 %>
                      </div>
                      <div class="exp-text">
                        <div class="exp-title">
                          <p class="date"><strong>Software Engineer Apprentice</strong></p>
                          <p class="date"><strong>Sept 2023 - present</strong></p>
                        </div>
                        <p class="exp-name"><em>Google</em></p>
                        <ul class="exp-info">
                          <li>Support my team in the development of software based on agreed projects and platforms</li>
                          <li>Follow application and component level design work to standards and patterns agreed by the team leads</li>
                          <li>Consider coding standards and ensure compliance with quality measures</li>
                        </ul>
                      </div>
                    </div>
                  </div>

                  <div class="exp-sub">
                    <div class="exp">
                      <div class="exp-img">
                        <%= image_tag asset_path('nhs.png'), height: 40, width: 40 %>
                      </div>
                      <div class="exp-text">
                        <div class="exp-title">
                          <p class="date"><strong>Band 7 Clinical Pharmacist</strong></p>
                          <p class="date"><strong>Apr 2023 - Aug 2023</strong></p>
                        </div>
                        <p class="exp-name"><em>West Hertfordshire Teaching Hospitals NHS Trust</em></p>
                        <ul class="exp-info">
                          <li>Writing and verifying clinical discharge summaries to update GPs on changes to patients' treatment</li>
                          <li>Managing and organising the supply of high-cost drugs</li>
                          <li>Ensuring the safe and appropriate use of medicines on the wards using electronic prescribing systems</li>
                        </ul>
                      </div>
                    </div>
                  </div>

                  <div class="exp-sub">
                    <div class="exp">
                      <div class="exp-img">
                        <%= image_tag asset_path('wagon.png'), height: 40, width: 40 %>
                      </div>
                      <div class="exp-text">
                        <div class="exp-title">
                          <p class="date"><strong>Teaching Assistant</strong></p>
                          <p class="date"><strong>Jan 2023 - May 2023</strong></p>
                        </div>
                        <p class="exp-name"><em>Le Wagon London</em></p>
                        <ul class="exp-info">
                          <li>Helping ~40 students understand and solve coding challenges</li>
                          <li>Debugging code written in a variety of styles</li>
                          <li>Consolidating my knowledge of developing with JavaScript, Ruby on Rails and SQL</li>
                        </ul>
                      </div>
                    </div>
                  </div>

                  <div class="exp-sub">
                    <div class="exp">
                      <div class="exp-img">
                        <%= image_tag asset_path('wise.png'), height: 40, width: 40 %>
                      </div>
                      <div class="exp-text">
                        <div class="exp-title">
                          <p class="date"><strong>WiseWomenCode Intern</strong></p>
                          <p class="date"><strong>March 2023</strong></p>
                        </div>
                        <p class="exp-name"><em>Wise</em></p>
                        <ul class="exp-info">
                          <li>Chosen out of >100 applicants to take part in the WiseWomenCode 2023 programme</li>
                          <li>Attended stand up meetings and wrote tests in Groovy to deploy new app features for users from the LATAM region</li>
                          <li>Worked with Wise's API in Python to create payment transfers from one currency to another</li>
                          <li>Learnt about cybersecurity and machine learning</li>
                        </ul>
                      </div>
                    </div>
                  </div>

                  <div class="exp-sub">
                    <div class="exp">
                      <div class="exp-img">
                        <%= image_tag asset_path('era.png'), height: 40, width: 40 %>
                      </div>
                      <div class="exp-text">
                        <div class="exp-title">
                          <p class="date"><strong>Associate Consultant</strong></p>
                          <p class="date"><strong>Jan 2022 - Oct 2022</strong></p>
                        </div>
                        <p class="exp-name"><em>Eradigm</em></p>
                        <ul class="exp-info">
                          <li>Conducted research interviews and client workshops to define complex stakeholder dynamics, and support product development, launch & commercialisation</li>
                          <li>Shaped brand messaging and story to drive sales and guide pricing negotiations for new products</li>
                          <li>Produced monthly reports of competitive intelligence data</li>
                          <li>Delivered high impact presentations to senior executives</li>
                        </ul>
                      </div>
                    </div>
                  </div>

                  <div class="exp-sub">
                    <div class="exp">
                      <div class="exp-img">
                        <%= image_tag asset_path('parexel.png'), height: 40, width: 40 %>
                      </div>
                      <div class="exp-text">
                        <div class="exp-title">
                          <p class="date"><strong>Associate Consultant</strong></p>
                          <p class="date"><strong>May 2020 - Nov 2021</strong></p>
                        </div>
                        <p class="exp-name"><em>Parexel</em></p>
                        <ul class="exp-info">
                          <li>Supported the launch of new medication and medical devices into global markets including US, EU and UK</li>
                          <li>Calculated future pricing projections for pre-clinical trial products</li>
                          <li>Led client meetings and presented actionable next steps and project milestones</li>
                          <li>Developed decks and reports to obtain FDA approvals and reimbursement from insurers</li>
                          <li>Synthesised key qualitative and quantitative scientific literature and clinical trials data to provide strategic recommendations</li>
                        </ul>
                      </div>
                    </div>
                  </div>

                  <div class="exp-sub">
                    <div class="exp">
                      <div class="exp-img">
                        <%= image_tag asset_path('nhs.png'), height: 40, width: 40 %>
                      </div>
                      <div class="exp-text">
                        <div class="exp-title">
                          <p class="date"><strong>Band 6 Clinical Pharmacist</strong></p>
                          <p class="date"><strong>Dec 2018 - Apr 2020</strong></p>
                        </div>
                        <p class="exp-name"><em>ENH Pharma, East and North Hertfordshire NHS Trust</em></p>
                        <ul class="exp-info">
                          <li>Provided customer service and medication advice for up to 300 patients/day</li>
                          <li>Implemented a new electronic health record system in the outpatient pharmacy and a new medication delivery service during the COVID-19 pandemic</li>
                          <li>Advised consultant medical staff when prescribing</li>
                          <li>Supported trainee pharmacists with development to obtain professional qualifications and conducted bi-annual appraisals</li>
                        </ul>
                      </div>
                    </div>
                  </div>

                  <div class="exp-sub">
                    <div class="exp">
                      <div class="exp-img">
                        <%= image_tag asset_path('boots.png'), height: 40, width: 40 %>
                      </div>
                      <div class="exp-text">
                        <div class="exp-title">
                          <p class="date"><strong>Pre-Registration Pharmacist</strong></p>
                          <p class="date"><strong>Jul 2017 - Jul 2018</strong></p>
                        </div>
                        <p class="exp-name"><em>Boots Pharmacy</em></p>
                        <ul class="exp-info">
                          <li>Investigated antibiotic use in 171 customers using questionnaires</li>
                          <li>Presented my customer research at an annual conference</li>
                          <li>Increased weekly sign ups to electronic services by 86%</li>
                          <li>Implemented a customer acquisition strategy as flu vaccination champion, resulting in >1200 customers vaccinated</li>
                          <li>Interpreted evidence-based resources such as NICE guidelines to provide patient advice</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="bottom-right">
              <div class="publications">
                <h3>Publications</h3>
                <div class="resume-text">
                  <div class="edu-sub">
                    <div class="ijpp">
                      <div class="ijpp-img">
                        <%= image_tag asset_path('ijpp.png'), height: 40, width: 40 %>
                      </div>
                      <div class="ijpp-text">
                        <div class="ijpp-title">
                          <a href="https://onlinelibrary.wiley.com/doi/epdf/10.1111/ijpp.12442" class="ijpp-date" target="_blank">
                            <p class="ijpp-date"><strong>International Journal of Pharmacy Practice</strong></p>
                          </a>
                          <p class="date"><strong>Apr 2018</strong></p>
                        </div>
                        <p>Medicines use in the emergency department: exploring professionals’ perceptions</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="hobbies">
                <h3>Hobbies & Interests</h3>
                <div class="resume-text">
                  <div class="hob-sub">
                    <div class="hob">
                      <div class="hob-img">
                        <i class="fa-solid fa-dumbbell"></i>
                      </div>
                      <div class="hob-text">
                        <div class="hob-title">
                          <p class="hob-name"><strong>Weight Training</strong></p>
                        </div>
                      </div>
                    </div>

                    <div class="hob">
                      <div class="hob-img">
                        <i class="fa-solid fa-bolt"></i>
                      </div>
                      <div class="hob-text">
                        <div class="hob-title">
                          <p class="hob-name"><strong>Anime</strong></p>
                        </div>
                      </div>
                    </div>

                    <div class="hob">
                        <div class="hob-img">
                          <i class="fa-solid fa-palette"></i>
                        </div>
                        <div class="hob-text">
                          <div class="hob-title">
                            <p class="hob-name"><strong>Art</strong></p>
                          </div>
                        </div>
                    </div>

                    <div class="hob">
                      <div class="hob-img">
                        <i class="fa-solid fa-headphones"></i>
                      </div>
                      <div class="hob-text">
                        <div class="hob-title">
                          <p class="hob-name"><strong>Music & Podcasts</strong></p>
                        </div>
                      </div>
                    </div>

                    <div class="hob">
                      <div class="hob-img">
                        <i class="fa-solid fa-laptop"></i>
                      </div>
                      <div class="hob-text">
                        <div class="hob-title">
                          <p class="hob-name"><strong>Tech</strong></p>
                        </div>
                      </div>
                    </div>

                    <div class="hob">
                      <div class="hob-img">
                        <i class="fa-solid fa-earth-africa"></i>
                      </div>
                      <div class="hob-text">
                        <div class="hob-title">
                          <p class="hob-name"><strong>Emerging Markets</strong></p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </section>
  </body>
</html>
